<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/png "access plus 1 week"
ExpiresByType image/jpg "access plus 1 week"
ExpiresByType text/css "access plus 1 week"
ExpiresByType text/javascript "access plus 1 week"
ExpiresDefault "access 1 week"
</IfModule>
